<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ooftf.master.source">

    <application>
        <activity android:name=".activity.RxJavaListActivity" />
        <activity android:name=".activity.OkHttpActivity" />
        <activity android:name=".activity.ProxyActivity" />
        <activity android:name=".activity.RxEmitterActivity" />
        <activity android:name=".activity.RxFlatMapActivity" />
        <activity android:name=".activity.RxIntervalRangeActivity"/>
    </application>

</manifest>