<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ooftf.master.m.entrance">

    <application>
        <activity
            android:name="com.ooftf.master.m.entrance.ui.SplashActivity"
            android:enabled="true"
            android:theme="@style/AppTheme.TranslucentStatus.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".icon_default"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:targetActivity="com.ooftf.master.m.entrance.ui.SplashActivity"
            android:theme="@style/AppTheme.TranslucentStatus.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_0"
            android:enabled="false"
            android:icon="@drawable/logo_empty"
            android:targetActivity="com.ooftf.master.m.entrance.ui.SplashActivity"
            android:theme="@style/AppTheme.TranslucentStatus.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_1"
            android:enabled="false"
            android:icon="@drawable/s7"
            android:targetActivity="com.ooftf.master.m.entrance.ui.SplashActivity"
            android:theme="@style/AppTheme.TranslucentStatus.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_2"
            android:enabled="false"
            android:icon="@drawable/logo_orb"
            android:targetActivity="com.ooftf.master.m.entrance.ui.SplashActivity"
            android:theme="@style/AppTheme.TranslucentStatus.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.ooftf.master.m.entrance.ui.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ooftf.com"
                    android:scheme="masterapp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ooftf.master.m.entrance.ui.GuideActivity"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity android:name=".ui.SchameFilterActivity" >
            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="ooftf.com"
                    android:scheme="master" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

    </application>
</manifest>
