<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ooftf.com.widget">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".activity.TourGuideActivity" />
        <activity android:name=".activity.GravActivity" />
        <activity android:name=".activity.OperationEditTextActivity" />
        <activity
            android:name=".activity.SharedElementsActivity"
            android:theme="@style/AppTheme.BackgroundTransparent.SharedElement" />
        <activity
            android:name=".activity.SharedElementsSecondaryActivity"
            android:theme="@style/AppTheme.BackgroundTransparent.SharedElement" />
        <activity android:name=".activity.VerticalRunningActivity" />
        <activity android:name=".activity.PhotoViewActivity" />
        <activity android:name=".activity.PinEntryActivity"></activity>
    </application>

</manifest>