<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ooftf.applet">

    <application>
        <activity android:name=".activity.BreakfastActivity" />
        <activity android:name=".activity.MobApiActivity" />
        <activity android:name=".activity.JX3Activity"></activity>
    </application>

</manifest>