<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ooftf.master.debug">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application>
        <activity android:name=".activity.NewInstanceActivity" />
        <activity
            android:name=".activity.KeyBoardActivity"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity android:name=".activity.DrawableActivity" />
        <activity android:name=".activity.FingerprintActivity" />
        <activity android:name=".activity.VerticalPagerActivity" />
        <activity android:name=".activity.TranslationActivity" />
        <activity android:name=".activity.RegexActivity" />
        <activity android:name=".activity.DialogActivity" />
        <activity android:name=".activity.ThreadPoolActivity" />
        <activity android:name=".activity.HashMapActivity"></activity>
    </application>

</manifest>