<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.master.kit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- @style/AppTheme.NoActionBar -->
        <activity android:name=".testcase.SwitchButtonActivity" />
        <activity android:name=".testcase.CameraActivity" />
        <activity android:name=".testcase.SwitchFristActivity" />
        <activity android:name=".testcase.SwitchSecondActivity" />
        <activity android:name=".testcase.CalendarActivity" />
        <activity android:name=".testcase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".testcase.PageLayoutActivity" />
        <activity android:name=".testcase.GesturePasswordActivity" />
        <activity
            android:name=".testcase.touchevent.TouchActivity"
            android:label="@string/title_activity_touch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".testcase.viewpager.ViewPagerActivity" />
        <activity
            android:name=".testcase.design.DesignActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".testcase.listview.ListViewActivity" />
        <activity
            android:name=".testcase.softkeyboard.SoftKeyboardActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".testcase.cpb.CPBActivity" />
        <activity android:name=".testcase.design.tab.TabActivity" />
        <activity android:name=".testcase.webview.WebViewActivity" />
        <activity android:name=".testcase.design.DesignDispatchActivity"></activity>
    </application>

</manifest>