<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.master.kit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name="com.ooftf.service.base.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/logo_legacy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.BackgroundTransparent"
        tools:replace="android:allowBackup,android:icon, android:theme">
        <activity
            android:name=".activity.SplashActivity"
            android:enabled="true"
            android:theme="@style/AppTheme.TranslucentStatus.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".icon_default"
            android:enabled="true"
            android:icon="@drawable/logo_legacy"
            android:targetActivity=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_0"
            android:enabled="false"
            android:icon="@drawable/logo_empty"
            android:targetActivity=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_1"
            android:enabled="false"
            android:icon="@drawable/s7"
            android:targetActivity=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_2"
            android:enabled="false"
            android:icon="@drawable/logo_orb"
            android:targetActivity=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".testcase.SwitchButtonActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".testcase.touchevent.TouchActivity"
            android:label="@string/title_activity_touch" />
        <activity android:name=".testcase.viewpager.ViewPagerActivity" />
        <activity
            android:name=".testcase.design.DesignActivity"
            android:label="@string/app_name" />
        <activity android:name=".testcase.listview.ListViewActivity" />
        <activity android:name=".activity.widget.ProgressBarActivity" />
        <activity android:name=".testcase.webview.WebViewActivity" />
        <activity android:name=".testcase.design.DesignDispatchActivity" />
        <activity android:name=".testcase.design.flexible.FlexibleActivity" />
        <activity android:name=".testcase.filedownload.DownloadActivity" />

        <service android:name=".testcase.filedownload.DownloadService" />

        <activity android:name=".testcase.retrofit.SignInActivity" />
        <activity
            android:name=".activity.widget.GuideActivity"
            android:theme="@style/AppTheme.TranslucentStatus" />
    </application>

</manifest>